.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow: scroll;
}
.thumbnail-name {
    text-align: center;
    word-break: break-all;
    max-width: 200px;
    font-size: 12px;
}
.thumbnail-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: white;
}
